.adicionarAdministrador {
	-fx-background-color: linear-gradient(to right, #ad5389, #3c1053);
}

.adicionarAdministrador-titulo {
	-fx-font-size: 25px;
	-fx-text-fill: #D8BFD8;
}

.adicionarAdministrador-label {
	-fx-font-size: 15px;
	-fx-text-fill: black;
}

.adicionarAdministrador-textField{
	-fx-background-color: #D8BFD8;
	-fx-size: 20px;
}

.adicionarAdministrador-choiceBox{
	-fx-background-color: #D8BFD8;
}

.adicionarAdministrador-botao{
	-fx-background-color: black;
	-fx-font-size: 16px;
	-fx-text-fill: "#FFFFFF";
}