.administradorManager {
	-fx-background-color: linear-gradient(to right, #ad5389, #3c1053);
}

.administradorManager-titulo {
	-fx-font-size: 25px;
	-fx-text-fill: #D8BFD8;
}

.administradorManager-botao {
	-fx-background-color: "#663366";
	-fx-font-size: 16px;
	-fx-text-fill: "#FFFFFF";
}

.administradorManager-botao-menuPrincipal{
	-fx-background-color: black;
	-fx-font-size: 16px;
	-fx-text-fill: "#FFFFFF";
}