.alunoEncontrado {
	-fx-background-color: linear-gradient(to right, #ad5389, #3c1053);
}

.alunoEncontrado-titulo {
	-fx-font-size: 25px;
	-fx-text-fill: #D8BFD8;
}

.alunoEncontrado-label {
	-fx-font-size: 18px;
	-fx-text-fill: black;
}

.alunoEncontrado-textField{
	-fx-background-color: #D8BFD8;
	-fx-size: 15px;
}

.alunoEncontrado-botao-buscar {
	-fx-background-color: black;
	-fx-font-size: 15px;
	-fx-text-fill: "#FFFFFF";
}
.alunoEncontrado-dados {
	-fx-font-size: 15px;
	-fx-text-fill: "#FFFFFF";
}

.alunoEncontrado-botao-remover {
	-fx-background-color: #ad5389;
	-fx-font-size: 15px;
	
}

.alunoEncontrado-botao {
	-fx-background-color: black;
	-fx-font-size: 16px;
	-fx-text-fill: "#FFFFFF";
}