.alunoManager {
	-fx-background-color: linear-gradient(to right, #ad5389, #3c1053);
}

.alunoManager-titulo {
	-fx-font-size: 35px;
	-fx-text-fill: #D8BFD8;
}

.alunoManager-botao {
	-fx-background-color: "#663366";
	-fx-font-size: 16px;
	-fx-text-fill: "#FFFFFF";
}

.alunoManager-botao-menuPrincipal{
	-fx-background-color: black;
	-fx-font-size: 16px;
	-fx-text-fill: "#FFFFFF";
}