.listaDeAlunos {
	-fx-background-color: linear-gradient(to right, #ad5389, #3c1053);
}

.listaDeAlunos-titulo {
	-fx-font-size: 25px;
	-fx-text-fill: #D8BFD8;
}

.listaDeAlunos-label {
	-fx-font-size: 15px;
	-fx-text-fill: black;
}

.listaDeAlunos-textField{
	-fx-background-color: #D8BFD8;
	-fx-size: 20px;
}


.listaDeAlunos-botao {
	-fx-background-color: black;
	-fx-font-size: 16px;
	-fx-text-fill: "#FFFFFF";
}